.Rproj.user
.Rhistory
.RData
.Ruserdata
R_group_assignment.Rproj
*.csv
.DS_Store
weather.xlsx
Assignment_Instructions.md
Best_Practices.md
Meaning of Data - Official Madrid Website.pdf
misc
parameters.png
